{% extends "layout.html" %}

{% block title %}
    {% set title = 'Home' %}
{% endblock %}

{% block body %}
    <p>This is the homepage of the new empty project.</p>
    <p><a href="/about">About</a></p>
{% endblock %}