<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/common.css">
    {% block title %}{% endblock %}
    <title>{{ title }} - Empty project</title>
  </head>
  <body>
    <h1>title</h1>
    {% block body %}{% endblock %}
  </body>
</html>