# Compiled Object files
*.o
*.obj
twig-d
twig-d-test-library

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/
__test__*__

# Code coverage
*.lst

# IDE
.idea